<div class="content-div">
  <mat-card>
    <mat-card-title>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="cursor:pointer;color:#3f51b5" (click)="go_home()">Home</a></li>
        <!-- <li class="breadcrumb-item " aria-current="page">Platform Setup</li> -->
        <li class="breadcrumb-item " aria-current="page">Assign Message</li>
        <!-- <li class="breadcrumb-item " aria-current="page"><a style="cursor:pointer;color:#3f51b5" (click)="go_prev_page()">Voice </a> </li> -->
        <li class="breadcrumb-item active" aria-current="page">Guests </li>
      </ol>
      <!-- <Strong><mat-icon style="vertical-align:-7px"> chat</mat-icon>Create Messages</Strong> -->
    </mat-card-title> <hr>
    <app-guest-dashboard></app-guest-dashboard>
  </mat-card>
</div>
