
<div class="text-align-right">
  <mat-icon style="cursor:pointer;color:gray;float:right" (click)="viewInfo()"  matTooltip="Info.">info</mat-icon>

</div>

<div class="row mt-2">

  <div class="col-7 mt-5 pt-3" >

  <div class="row">

  <div class="col-12">
    <form [formGroup]="addMenuForm">
   
<div class="row mt-3">

  <div class="col-12">
    <label for="">Name</label>
  
    <input type="text" name="menu_name" formControlName="menu_name" class="form-control"/>
   
    
  </div>
</div>

    
    </form>
  </div>
  </div>
  <div class="row">
  <!-- <div class="col-1"></div> -->
  <div class="col-4"></div>
  <div class="col-4 mt-4 ml-2 pl-5">
   
  &nbsp;
    <button class="btn btn-success" mat-mini-fab color="warn" (click)="refresh()"><mat-icon>refresh</mat-icon></button> &nbsp;
    <button class="btn btn-success" [disabled]="addMenuForm.invalid" mat-mini-fab (click)="add_menu()"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</div>


</div>


    <div class="col-5">
    
      <mat-form-field>
        <mat-label appearance="outline">Search Menu...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Home" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.menu_name}} </td>
          </ng-container>
       
          <ng-container matColumnDef="on_off">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> <mat-slide-toggle id="setupmodeid{{element.id}}" [hidden]="element.id==1 || element.id==2 || element.id==3" (change)="click_setup($event,element.id)" [checked]="element.active_flag=='Y'"></mat-slide-toggle> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr (click)="edit(row)" style="cursor: pointer;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[4, 8, 20,getMenus?.length]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  
</div>
