<div class="content-div">
  <mat-card>
    
    <mat-card-title>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor:pointer;color:#3F51B5" (click)="go_home()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add/Manage Managers</li>
        </ol>
      </nav>
      <!-- <strong> <mat-icon style="vertical-align:-5px"> man_4</mat-icon> Add / Modify Managers</strong> -->

    </mat-card-title> <hr>
    <app-add-emp></app-add-emp>

  </mat-card>
</div>
