<div class="sidebar">

  <ng-container *ngFor="let menu of menuData">

    <a routerLinkActive="active" routerLink="{{menu.ref}}">{{menu.name}}</a>
    <mat-divider></mat-divider>
  </ng-container>

  <a (click)="openDialog('')">Sign Out</a>
  <mat-divider></mat-divider>
</div>

<div class="sidebar">

  <a routerLink="admin/adminlanding" routerLinkActive="active">Home</a>
  <mat-divider></mat-divider>
  <mat-accordion>

    <mat-divider></mat-divider>
    <mat-expansion-panel hideToggle style="background-color:#3f51b5;color:white" #panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="color:white; font-size:small;padding-left:-2px">
          Hotel Accounts
        </mat-panel-title>
        <mat-icon>{{panel.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>

      </mat-expansion-panel-header>
      <mat-divider></mat-divider>

      <p>

        <a routerLink="admin/add_hotel" routerLinkActive="active">Add a new hotel</a>
        <mat-divider></mat-divider>

        <a routerLink="admin/house_account" routerLinkActive="active">House Accounts</a>
        <mat-divider></mat-divider>

        <a routerLink="admin/sales_account" routerLinkActive="active">Sales Accounts</a>
        <mat-divider></mat-divider>

        <a routerLink="admin/all_account" routerLinkActive="active">All Hotels</a>
        <mat-divider></mat-divider>
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
  <mat-expansion-panel hideToggle style="background-color:#3f51b5;color:white" #panel1>
    <mat-expansion-panel-header>
      <mat-panel-title style="color:white; font-size:small;padding-left:-2px">
        Fun Directory
      </mat-panel-title>
      <mat-icon>{{panel1.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>

    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p>
      <a routerLink="admin/fundirectory" routerLinkActive="active">Directory Setup</a>
      <mat-divider></mat-divider>
      <a routerLink="admin/funmenu" routerLinkActive="active">Menu Setup</a>
      <mat-divider></mat-divider>
    </p>
  </mat-expansion-panel>
  <mat-divider></mat-divider>

  <mat-expansion-panel hideToggle style="background-color:#3f51b5;color:white" #panel1>
    <mat-expansion-panel-header>
      <mat-panel-title style="color:white; font-size:small;padding-left:-2px">
        Support
      </mat-panel-title>
      <mat-icon>{{panel1.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>

    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p>
      <a routerLink="admin/manage_ticket" routerLinkActive="active">Manage Ticket</a>
      <mat-divider></mat-divider>
    </p>
  </mat-expansion-panel>
  <mat-divider></mat-divider>

  <a routerLink="admin/adminsetup" routerLinkActive="active">Master</a>
  <mat-divider></mat-divider>

 

  <!-- <a>Tawk</a>
  <mat-divider></mat-divider>

  <a>Hosting</a>
  <mat-divider></mat-divider>

  <a>3rd Party API</a>
  <mat-divider></mat-divider>

  <a>Accounting</a>
  <mat-divider></mat-divider>

  <a>Support</a>
  <mat-divider></mat-divider>

  <a>Training</a>
  <mat-divider></mat-divider> -->

  <a routerLink="admin/hotel_db" routerLinkActive="active">Hotel Databases</a>
  <mat-divider></mat-divider>

  <!-- <a>Admin Info.</a>
  <mat-divider></mat-divider> -->

  <a (click)="openDialog('')">Sign Out</a>



</div>