<div class="content-div">
  <mat-card *ngIf="!showHtml">
    <mat-card-header>
      <mat-card-title >
            <strong>   <mat-icon>receipt</mat-icon>  Proposal Form </strong>
           
      </mat-card-title>
     
    </mat-card-header>
   <mat-card-content>
    <form [formGroup]="pForm">
      <div class="row">
        <div class="col-12">
          <label for="">Greetings</label>
          <textarea name="greeting" class="form-control" formControlName="greeting" id="" cols="30" rows="5"></textarea>
        </div>
      </div> <br>
      <div class="row mt-4">
        <div class="col-12">
          <label for="">Development details</label>
          <textarea name="development_details" class="form-control" formControlName="development_details" id="" cols="30" rows="5"></textarea>
        </div>
      </div> <br>
      <div class="row  mt-4"></div> 
      <div formArrayName="fee_structure">
        <div *ngFor="let r of fee_struct.controls; let i=index">
             <div formGroupName="{{i}}">
               <div class="row mt-4">
                <div class="col-5">
                  <label for="">Fee Type:</label>
                  <input type="text" class="form-control" formControlName="fee_type" name="fee_type">
                </div>
                <div class="col-5">
                  <label for="">Fee Amount:</label>
                  <input type="text" class="form-control" formControlName="fee_amount" name="fee_amount">

                </div>
              
             
                 <div class="col-1 mt-4">
                   <button class="float-end" mat-mini-fab color="primary" (click)="addFee()">
                     <mat-icon >add</mat-icon>
                   </button> 
                 </div><div class="col-1 mt-4">
                   <button class="float-end" mat-mini-fab color="accent" *ngIf="fee_struct.length>1" (click)="openDialog(i,r)">
                     <mat-icon >remove</mat-icon>
                   </button>
                 </div>
                 &nbsp;
                 </div>
                 <div class="row  mt-4">
                  <div class="col-10">
                    <label for="">Notes</label>
                    <textarea name="notes" class="form-control" formControlName="notes" id="" cols="30" rows="5"></textarea>
                  </div>
                </div> 
              <br>
                 <div class="row mt-4">
                  <div class="col-10">
                    <label for="">Additional Notes</label>
                    <textarea name="additional_notes" class="form-control" formControlName="additional_notes" id="" cols="30" rows="5"></textarea>
                  </div> 
                </div> 
                  <br>
                 
             </div>
        </div>
     </div>
      
     
     
      <div class="row mt-4">
        <div class="col-4"></div>
        <div class="col-1"></div>
        <div class="col-4">
         <button mat-raised-button class="btn btn-success" (click)="send_proposal_by_admin()">Send</button>

        </div>
        <div class="col-4">
         <!-- <button mat-raised-button class="btn btn-success" (click)="send_proposal_by_admin()">Send</button> -->
        </div>
      </div>
    </form>
   </mat-card-content>
  </mat-card>

  <mat-card *ngIf="showHtml"> 
    <mat-card-header>
      <mat-card-title >
          <strong>   <mat-icon>receipt</mat-icon>  Proposal </strong>
      </mat-card-title>
    </mat-card-header>
 <hr>
  <mat-card-content class="p-3">
    <div class="row mt-2">
      <div class="col-12" *ngIf="propDataHtml.msg[0].greeting">
     
        <div class="showAns">
       <h4> <label for="">{{propDataHtml.msg[0].greeting}}, </label>  </h4>  
          
        </div>
      </div>
      <div class="col-12 mt-1" *ngIf="propDataHtml.msg[0].dev_dtls">
       
        <div class="showAns">
          
     <h4> <label for=""> {{propDataHtml.msg[0].dev_dtls}}</label> </h4>    
        </div> <br>
        <hr>
      </div> 
      <div class="col-12 mt-4">
      
        <div *ngFor="let prop of propDataHtml.msg[0].propDtls">
          <div class="row ">
            <div class="col-6"> <h2><label for="">Fee Type</label></h2></div>
          <div class="col-6">  <h2> <label for="">Fee Amount </label></h2> </div>
         </div>
          <div class="row">
            <div class="col-6 showAns">
              <input type="text" class="form-control p-3" readonly value="{{prop.fee_type}}">
              
            </div>
            <div class="col-6 showAns">
              <input type="text" class="form-control p-3" readonly value="{{prop.fee_amount}}">

              
            </div>
            
          </div>
          <div class="row mt-4" *ngIf="prop.remarks">
            <div class="col-6">
             <h2>
              <label for="">Notes</label>
             </h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-12 showAns">
              <textarea name="" class="form-control p-3" readonly id="" cols="30" rows="5">
                {{prop.remarks}}

              </textarea>
            </div>
          </div>
          <div class="row mt-4" *ngIf="prop.additional_remarks">
            <div class="col-12">
             <h2>
              <label for="">Additional Notes</label>
             </h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-12 showAns">
              <textarea name="" class="form-control p-3" readonly id="" cols="30" rows="5">
                {{prop.additional_remarks}}
              </textarea>
              
            </div>
          </div>
         <hr>
       
        </div>
        <form [formGroup]="userRemarksForm" >
          <div class="row">
            <div class="col-12">
            <h2> <label for="">Remarks</label> </h2>  
              <textarea name="remarks" class="form-control" formControlName="remarks" id="" cols="30" rows="5"></textarea>
            </div>
          </div> <br>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-2">
               <button mat-mini-fab style="background-color:rgb(1, 65, 1); color:white" matTooltip="Accept" (click)="openDialogForStatus('A')"> <mat-icon>check</mat-icon></button>
            </div>
            <div class="col-2">
              <button mat-mini-fab style="background-color:rgb(9, 133, 161); color:white" matTooltip="Let's discuss!" (click)="openDialogForStatus('D')"> 	<mat-icon>question_answer</mat-icon></button>

            </div>
            <div class="col-2">
              <button mat-mini-fab style="background-color:rgb(99, 2, 2); color:white" matTooltip="Decline" (click)="openDialogForStatus('D')"> 	<mat-icon>close</mat-icon></button>

            </div>
            <div class="col-3"></div>
          </div>
         </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>

<div class="fab-main">
  <button matTooltip="Back" mat-mini-fab (click)="go_prev_page()"> <mat-icon>arrow_back</mat-icon> </button>

    </div>

