<div class="content-div">
  <mat-card>
    <mat-card-title> 
      <div class="row">
    
    <div class="col-12 text-start">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor:pointer;color:#3F51B5" (click)="go_home()">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">Platform Setup</li>
          <li class="breadcrumb-item active" aria-current="page">Pre-registration URL</li>
        </ol>
      </nav>
    </div>
     
     
    </div>
      
    <!-- <strong> <mat-icon style="vertical-align:-6px">local_phone</mat-icon> Communications</strong> -->
     </mat-card-title> <hr>
    <form [formGroup]="preReg">
      <div class="row mt-3">
        <div class="col-6">
          <label for="">Email</label>
          <input type="text" name="" class="form-control" formControlName="pre_email" id="">
        </div>
        <div class="col-6">
          <label for="">Name</label>
          <input type="text" name="" class="form-control" formControlName="pre_name" id="">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label for="">URL</label>
          <input type="text" name="'" class="form-control" readonly formControlName="pre_url" id="">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 text-center">
          <button class="btn btn-success" mat-raised-button (click)="savePreReg()">Submit</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
