<div class="text-center content-div">
    
  <!-- <div class="dialog">
    <h3 class="dialog-title">Order Confirmed!</h3>
    <div class="dialog-content">
  <svg id="m-check-mark" width="245px" height="173px" viewBox="0 0 245 173" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-opacity="0.4">
          <polyline id="checkmark" stroke="#000000" stroke-width="15" points="5.640625 83.7607422 83.2539062 161.663086 238.97168 6.11328125"></polyline>
      </g>
  </svg>

    </div>
  </div> -->

  <mat-card class="example-card">
    <mat-card-header>
    
    </mat-card-header>
    <!-- <h3 class="dialog-title">THANK YOU FOR YOUR ORDER</h3> -->
  
    <div class="dialog-content">
  <!-- <svg id="m-check-mark" width="245px" height="173px" viewBox="0 0 245 173" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-opacity="0.4">
          <polyline id="checkmark" stroke="#000000" stroke-width="15" points="5.640625 83.7607422 83.2539062 161.663086 238.97168 6.11328125"></polyline>
      </g>
  </svg> -->

    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="mt-2">
      <p>
        We are preparing your order and will deliver it to you soon. In case of a delay or change, we will contact you.
      </p>
      <!-- <p class="mt-3"> -->
        <table class="table text-muted mt-2" style="text-align: left;">
          <thead>
            <!-- <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr> -->
          </thead>
          <tbody class="p-5">
            <tr>
              <td>Breakfast Burrito</td>
              <td></td>
              <td>$12</td>
            </tr>
    <mat-divider></mat-divider>

            <tr>
              <td>Lox Bagel</td>
              <td></td>
              <td>$12</td>
            </tr>
    <mat-divider></mat-divider>

            <tr>
              <td>Steel Cut Oats Breakfast</td>
              <td></td>
              <td>$12</td>
            </tr>
    <mat-divider></mat-divider>

          </tbody>
          <tfoot class="text-bold">
            <tr>
              <td>Total:</td>
              <td></td>
              <td>$36</td>
            </tr>
            
          </tfoot>
        </table>
      <!-- </p> -->
      <p class="mt-2">
        Please feel free to chat with us if you have any questions or changes.
ENJOY!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="text-muted">DIRECTORY</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

</div>

