<header class="w3-container"><br>
  <!-- <p><strong>Thank You for your payment and participation!</strong><br>
      You can now begin to set-up your platform. Please follow the simple steps below. If you have any
      problems, please do not hesitate to email us: <a
          href="mailto:Support@shoplocallaguna.com">Support@ShopLocalLaguna.com</a></p> -->
          <div class="thankYou"><h3>Thank You for your payment and participation!</h3>
            <p style="font-size: revert;">You can now start setting up your platform. Please follow the steps below. For queries, mail us at <a style="color:white"
                href="mailto:admin@shoplocal-lagunabeach.com">admin@shoplocal-lagunabeach.com</a></p></div>

</header> 
