
<div class="content-div">
  <mat-card>
    <h2><strong> <mat-icon>assignment</mat-icon> Manage Hotel Progress</strong></h2>
  </mat-card>

  <mat-tab-group dynamicHeight mat-stretch-tabs>
    <mat-tab label="Hotel Information">
      <ng-template mat-tab-label>
        <mat-icon>feedback</mat-icon> &nbsp;
        Hotel Information
      </ng-template>
      <div style="overflow-x:auto;" class="p-3">
           
        <form [formGroup]="hotelInfo">
          <div class="row">
            <div class="col-12">
             
                <label for="">Date</label>
                <input readonly class="form-control p-2" type="text" formControlName="hotel_date" name="hotel_date">
             
            </div>
          </div> <br>
        <div class="row pb-2">
         
          <div class="col-4">
            <label for="">Hotel</label>
            <input  class="form-control p-2" type="text" formControlName="hotel" name="hotel">
          </div>
          <div class="col-4">
            <label for="">Address</label>
            <input  class="form-control p-2" type="text" formControlName="address" name="address">
          </div>
          <div class="col-4">
            <label for="">Country</label>
            <select class="form-select p-2" name="country"  formControlName="country" >
              <option value="">Select Country</option>
              <option *ngFor="let c of countryData" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>
        </div> <br>
        <div class="row">
          <div class="col-4">
            <label for="">Website</label>
            <input  class="form-control p-2" type="text" formControlName="website" name="website">
          </div>
          <div class="col-4">
            <label for="">Phone</label>
            <input  class="form-control p-2" type="text" formControlName="phone" name="phone">
          </div>
          <div class="col-4">
            <label for="">WhatsApp</label>
            <input  class="form-control p-2" type="text" formControlName="whatsapp" name="whatsapp">
          </div> <br>
          
        </div> <br>
        <div class="row">
          <div class="col-4">
            <label for="">Contact name</label>
            <input class="form-control p-2" type="text" formControlName="contact_name" name="contact_name">
          </div> <br>
          <div class="col-4">
            <label for="">Position</label>
            <input  class="form-control p-2" type="text" formControlName="contact_position" name="contact_position">
          </div>
          <div class="col-4">
            <label for="">Email</label>
            <input  class="form-control p-2" type="text" formControlName="email" name="email">
          </div> <br>
          
        </div> <br>
        <div class="row">
          <div class="col-6">
            <label for="">Contact phone</label>
            <input  class="form-control p-2" type="text" formControlName="contact_phone" name="contact_phone">
          </div>
          <div class="col-6">
            <label for="">Contact WhatsApp</label>
            <input  class="form-control p-2" type="text" formControlName="contact_whatsapp" name="contact_whatsapp">
          </div>
           <br>
          
        </div> <br>
        <div class="row">
          <div class="col-12">
            <label for="">Notes</label>
           <textarea name="notes" class="form-control" formControlName="notes" id="" cols="30" rows="5"></textarea>
          </div>
           <br>
          
        </div> <br>
        <div class="row">
          <div class="col-3">
            <label for="">Status</label>
            <select class="form-select p-2" name="no_sale"  formControlName="no_sale" >
              <option value="">Select status</option>
              <option value="P">Pending</option>
              <option value="S">Sent</option>
              <option value="N">No Sale</option>
              <option value="C">Accepted</option>
            </select>
          </div>
          <div class="col-3">
            <label for="">Proposal amount</label>
            <input  class="form-control p-2" type="text" formControlName="proposal_amount" name="proposal_amount">
          </div>
          <div class="col-3">
            <label for="">First payment (date)</label>
            <input  class="form-control p-2" type="date" formControlName="first_payment" name="first_payment">
          </div>
          <div class="col-3">
            <label for="">Final payment (date)</label>
            <input  class="form-control p-2" type="date" formControlName="final_payment" name="final_payment">
          </div>  <br>
          
        </div> <br> <br>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4 pt-2" style="text-align:center">
            <button class="btn btn-success" mat-raised-button (click)="updatehotelInfo()">Update</button>
          </div>
          <div class="col-4"></div>
          
        </div>
      </form>
       
    </div>
      </mat-tab>
      <mat-tab label="Platform Setup">
          <ng-template mat-tab-label>
            <mat-icon> restaurant</mat-icon> &nbsp;
            Platform Setup
          </ng-template>
          <mat-tab-group color="warn" style="background-color:white">
            <mat-tab label="Personal Concierge Avatar"> 
              <ng-template mat-tab-label>
                <mat-icon> face</mat-icon> &nbsp;
                Personal Concierge Avatar
              </ng-template>
              <mat-card>
                <app-avatar></app-avatar>
              </mat-card>
               </mat-tab>
            <mat-tab label="Setup"> 
              <ng-template mat-tab-label>
                <mat-icon> settings</mat-icon> &nbsp;
                Setup
              </ng-template>
              <app-view-hotel></app-view-hotel>
            </mat-tab>
            <mat-tab label="Communications"> 
              <ng-template mat-tab-label>
                <mat-icon> local_phone</mat-icon> &nbsp;
                Communications
              </ng-template>
              <mat-card>
                <app-communications></app-communications>

              </mat-card>
               </mat-tab>
               <mat-tab label="Emergency Reports"> 
                <ng-template mat-tab-label>
                  <mat-icon> offline_bolt</mat-icon> &nbsp;
                  Emergency Reports
                </ng-template>
                <mat-card>
                 <app-emergency-report></app-emergency-report>
                </mat-card>
                 </mat-tab>
                 <mat-tab label="Department Managers"> 
                  <ng-template mat-tab-label>
                    <mat-icon> people</mat-icon> &nbsp;
                    Department Managers
                  </ng-template>
                  <mat-card>
                  <app-add-dept-mng></app-add-dept-mng>

                  </mat-card>
                   </mat-tab>
                
                 <mat-tab label="FAQs"> 
                  <ng-template mat-tab-label>
                    <mat-icon> not_listed_location</mat-icon> &nbsp;
                    FAQs
                  </ng-template>
                  <mat-card>
                    FAQs
                  </mat-card>
                   </mat-tab>
                   <mat-tab label="Calendars"> 
                    <ng-template mat-tab-label>
                      <mat-icon> date_range</mat-icon> &nbsp;
                      Calendars
                    </ng-template>
                    <mat-card>
                      Calendars
                    </mat-card>
                     </mat-tab>
                     <mat-tab label="QR Codes / Signage / Holders"> 
                      <ng-template mat-tab-label>
                        <mat-icon> subtitles</mat-icon> &nbsp;
                        QR Codes / Signage / Holders
                      </ng-template>
                      <mat-card>
                        QR Codes / Signage / Holders
                      </mat-card>
                       </mat-tab>
                       <mat-tab label="Your Directory"> 
                        <ng-template mat-tab-label>
                          <mat-icon> folder_special</mat-icon> &nbsp;
                          Your Directory
                        </ng-template>
                        <mat-card>
                          Your Directory
                        </mat-card>
                         </mat-tab>
                         <mat-tab label="Promotions / Photo OPS"> 
                          <ng-template mat-tab-label>
                            <mat-icon> add_a_photo</mat-icon> &nbsp;
                            Promotions / Photo OPS 
                          </ng-template>
                          <mat-card>
                            Promotions / Photo OPS 
                          </mat-card>
                           </mat-tab>
                           <mat-tab label="Lost & Found"> 
                            <ng-template mat-tab-label>
                              <mat-icon> report_problem</mat-icon> &nbsp;
                              Lost & Found
                            </ng-template>
                            <mat-card>
                              Lost & Found
                            </mat-card>
                             </mat-tab>
                             <mat-tab label="Suggestion Box"> 
                              <ng-template mat-tab-label>
                                <mat-icon> playlist_play</mat-icon> &nbsp;
                                Suggestion Box
                              </ng-template>
                              <mat-card>
                                Suggestion Box
                              </mat-card>
                               </mat-tab>
          </mat-tab-group>
      </mat-tab>
      </mat-tab-group>
  </div>
