<div class="content-div">
  <mat-card>
    
    <mat-card-title>
      <!-- <strong> <mat-icon style="vertical-align:-6px;">mic</mat-icon> Voice</strong> -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor:pointer;color:#3f51b5" (click)="go_home()">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">Platform Setup</li>
          <li class="breadcrumb-item " aria-current="page">Personal Concierge</li>
          <li class="breadcrumb-item active" aria-current="page">Voice</li>
        </ol>
      </nav>
    </mat-card-title> <hr>
  <app-pca-voice></app-pca-voice>

  </mat-card>
</div>
