<div class="content-div">
  <mat-card>
   
    <mat-card-title>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor:pointer;color:#3F51B5" (click)="go_home()">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">Platform Setup</li>
          <li class="breadcrumb-item active" aria-current="page">Report Emergency</li>
        </ol>
      </nav>
    </mat-card-title> <hr>
    <app-emergency-report></app-emergency-report>
  </mat-card>
</div>
