<div class="content-div">
  <mat-card>
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb float-end">
        <li class="breadcrumb-item"><a style="cursor:pointer" (click)="go_home()">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Platform Setup</li>
        <li class="breadcrumb-item active" aria-current="page">Assign</li>
        <li class="breadcrumb-item active" aria-current="page">Employee</li>
      </ol>
    </nav> -->
    <mat-card-title>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="cursor:pointer;color:#3f51b5" (click)="go_home()">Home</a></li>
        <!-- <li class="breadcrumb-item " aria-current="page">Platform Setup</li> -->
        <li class="breadcrumb-item " aria-current="page">Assign Message</li>
        <!-- <li class="breadcrumb-item " aria-current="page"><a style="cursor:pointer;color:#3f51b5" (click)="go_prev_page()">Voice </a> </li> -->
        <li class="breadcrumb-item active" aria-current="page">Employees </li>
      </ol>
      <!-- <strong><mat-icon style="vertical-align:-7px"> chat</mat-icon>Create Messages</strong> -->
    </mat-card-title> <hr>
    <app-add-dept-mng></app-add-dept-mng>
  </mat-card>
</div>
