<div class="content-div">
  <mat-card >
   
 <mat-card-title> 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a style="cursor:pointer;color:#3F51B5" (click)="go_home()">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">Platform Setup</li>
      <li class="breadcrumb-item active" aria-current="page">Your Directory</li>
    </ol>
  </nav>
<!-- <strong> <mat-icon style="vertical-align:-6px">local_phone</mat-icon> Communications</strong> -->
 </mat-card-title> <hr>
 <!-- <app-communications></app-communications> -->
 <div class="row">
  <div class="col-3"></div>
  <div class="col-4 p-3">
 <app-your-directory ></app-your-directory>

  </div>
  <div class="col-4"></div>
 </div>
  </mat-card>
</div>