<div mat-dialog-title class="dialog-title">
  <h2>
    <mat-icon>calendar_today</mat-icon>
    Calender
  </h2>
  <div class="btnGrp">
    <button mat-icon-button class="matIconBtn" 
    
    (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content class="dialog__container">
  <div class="___btnControls">
    <div class="today_btn">
      <button mat-stroked-button (click)="this.cal.today()">Today</button>
    </div>
    <div class="prev_next">
      <button mat-icon-button (click)="moveNext('P')">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button (click)="moveNext('N')">
        <mat-icon>navigate_next</mat-icon>
      </button>

    </div>
    <div class="date__name">
      <small>{{getDate | date:'MMMM'}}, {{getDate | date:'YYYY'}}</small>
    </div>
    <!-- <div class="displayMode">
      <button mat-stroked-button [matMenuTriggerFor]="menu">
      <small> {{btnName.name}} </small> 
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let mode of displaymode" (click)="btnName = mode">
          <span>{{mode.name}}</span>
          <mat-icon class="menuIcon text-success" *ngIf="btnName.id == mode.id">done</mat-icon>
        </button>
      </mat-menu>
    </div> -->

  </div>
  <div class="calendar__container">
    <div #calendar></div>
  </div>
</mat-dialog-content>
<mat-dialog-actions></mat-dialog-actions>

