<div class="content-div">
  <mat-card>
    
    <mat-card-title>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor:pointer;color:#3F51B5" (click)="go_home()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add/Manage Departments</li>
        </ol>
      </nav>
      <!-- <strong> <mat-icon style="vertical-align:-5px"> work</mat-icon> Add / Modify Departments</strong> -->
    </mat-card-title> <hr>
   
      <app-add-dept></app-add-dept>

   

  </mat-card>
</div>
